.up,
html {
    font-family: sans-serif;
    line-height: 1.15;
}
.up,
body {
    margin: 0;
}
#vendors,
.custom-file-input {
    vertical-align: middle;
    color: #495057;
}
#vendors,
.custom-file-input,
.custom-file-input::before {
    letter-spacing: 1px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.up {
    overflow: visible;
    font-size: 100%;
}
.view-header > form {
    display: flex;
    gap: 5px;
}
.custom-file-input {
    padding: 3px 5px 5px;
    border: 1px solid #ced4da;
    height: 35px;
    text-align: center;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
.btn-clear-asn,
.btn-primary-asn {
    background-clip: padding-box;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 700;
    cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: "Browse";
    color: #fff;
    display: inline-block;
    background: padding-box #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: -99px;
    padding: 5px 10px;
    outline: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 10pt;
    background-color: #0f34d5 !important;
}
.custom-file-input:hover::before {
    border-color: #23f7fe27;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.view-header {
    box-sizing: border-box;
    height: 16vh;
    border-bottom: 1px solid #ced4da63;
    display: flex;
    width: 100%;
    padding: 0 70px 0 72px;
    align-items: center;
    gap: 10px;
    letter-spacing: 1.2px;
    justify-content: space-between;
    max-width: 100vw;
}
.view-header > h1 {
    color: #ced4dad2;
    letter-spacing: 8px;
    text-shadow: 1px 1px #23f7fe33;
    font-size: 2.25rem;
    padding-top: 12px;
}
.btn-primary-asn {
    background-color: #0f34d5 !important;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
.btn-clear-asn:hover,
.btn-primary-asn:hover {
    border-color: rgba(0, 222, 230, 0.836);
    color: rgba(0, 222, 230, 0.836);
}
.btn-primary-asn:disabled {
    background-color: #f4ffffee !important;
    pointer-events: none !important;
    color: rgba(0, 0, 0, 0.493) !important;
}
#import-asn.uploading:disabled {
    background-color: rgba(3, 158, 3, 0.877) !important;
    pointer-events: none;
    color: #f0f6fd;
    border: 1px solid #ced4da;
}
.btn-clear-asn:disabled {
    background-color: #f4ffffee !important;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.493);
}
.btn-clear-asn {
    background-color: #666 !important;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
[type="button"],
[type="submit"] {
    appearance: button;
}
.message {
    padding: 7px 0 0 10px !important;
    margin: 0 0 -70px !important;
    letter-spacing: 1.5px !important;
    visibility: hidden;
    font-size: 12px;
}
.form-container {
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-top: 20px;
}
#vendors {
    height: 3em;
    font-size: 11px;
    border: 1px solid #ced4da;
    width: 32em;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
        no-repeat;
    background-position-x: 99%;
    background-position-y: 3px;
    /* margin-right: 2rem; */
    padding: 0 2rem 0 1rem;
    text-indent: 1px;
}

.ld-count-cont {
    gap: 3.5px;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: large;
    align-items: end;
}

.ld-count-cont > p {
    margin: 0;
    padding: 0 0 0 0;
    align-items: end;
    line-height: 0.95;
}

.vnd-cont {
    display: flex;
    align-items: end;
    gap: 15px;
}

#ld-denom {
    visibility: hidden;
}

#ld-neumen {
    visibility: hidden;
}
